<!DOCTYPE html>
<html>
	<head>
		<title>后台首页</title>
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/public/static/css/css.css">
	</head>
	<body>

		<div id="main" class="container-fluid">
			<div class="row">
				{include file="public/left" /}
				<div id="right" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
					<?php
						foreach($ALL_INFO as $value){
							$value['imgs'] = json_decode($value['imgs'], true);
					?>
							<div class="list">
								<h4>
									{$value.jd_comment_num} | {$value.jd_author} | oo[{$value.oo}] xx[{$value.xx}]
								</h4>
								<p>
									{$value.jd_text}
								</p>
								<div class="imgs">
									{volist name="value.imgs" id="value_img"}
										<img src="{$value_img.mw}" data-large="{$value_img.large}" data-mw="{$value_img.mw}" /><br/>
									{/volist}
								</div>
							</div>
					<?php
						}
					?>
				</div>
			</div>
		</div>

		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="/public/static/js/js.js"></script>
	</body>
</html>