<!DOCTYPE html>
<html>
	<head>
		<title>后台首页</title>
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/public/static/css/css.css">
	</head>
	<body>

		<div id="main" class="container-fluid">
			<div class="row">
				{include file="public/left" /}
				<div id="right" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
					<h3>目前最新页: {$NEW_PAGE}</h3>
				</div>
			</div>
		</div>

		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="/public/static/js/js.js"></script>
	</body>
</html>